extends layout

block jumbotron
  .jumbotron
    .container
      h1= title
      p Welcome to #{title}
block content
  
block footer
  footer(class="footer")
    div(class="container")
      p(class="copyright") George Theofilis &copy; !{(new Date()).getFullYear()}    