extends ../layout

block content
  div(class="container-center")

    h2 0-LEVEL SPELLS
    table(class="table table-striped")
      thead
        tr
          th Name
          th Description
      tbody
        - var i = 1;
          - for item in zeros
            tr
              td
              td 
                a(href="/class/find/")
              td
              - i = i + 1
   
    h2 1ST-LEVEL SPELLS
    h2 2ND-LEVEL SPELLS
    h2 3RD-LEVEL SPELLS
    h2 4TH-LEVEL SPELLS
    h2 5TH-LEVEL SPELLS
    h2 6TH-LEVEL SPELLS
    h2 7TH-LEVEL SPELLS
    h2 8TH-LEVEL SPELLS
    h2 9TH-LEVEL SPELLS