extends ../layout

mixin level(num, spell)
  - if (spell.length > 0)
    h3 #{num}<sup>th</sup> level spell
    table(class="table table-striped")
      thead
        tr
          th
          th Name
          th Description
      tbody
        - var i = 1;
        - each item in spell
          tr
            td= i
              
            td 
              a(href="/spell/find/" + item._id)=item.name
            td
            - i = i + 1

block content
  h1.page-header Spell List of #{title}
  div(class="container-center")
    +level(0, zeros)
    +level(1, first)
    +level(2, seconds)
    +level(3, thirds)
    +level(4, fourths)
    +level(5, fifth)
    +level(6, sixth)
    +level(7, seventh)
    +level(8, eighth)
    +level(9, nineth)