extends ../layout

block content
  div(class="container-center")

    h2 0-LEVEL SPELLS
    table(class="table table-striped")
      thead
        tr
          th Name
          th Description
      tbody
        tr
          td 
            a(href="/spell/find/1") Create Water
          td Creates 2 gallons/level of pure water.
        tr
          td 
            a(href="/spell/find/1") Cure Minor Wounds
          td Cures 1 point of damage.
        tr
          td 
            a(href="/spell/find/1") Detect Magic
          td Detects spells and magic items within 60 ft.
    h2 1ST-LEVEL SPELLS
    h2 2ND-LEVEL SPELLS
    h2 3RD-LEVEL SPELLS
    h2 4TH-LEVEL SPELLS
    h2 5TH-LEVEL SPELLS
    h2 6TH-LEVEL SPELLS
    h2 7TH-LEVEL SPELLS
    h2 8TH-LEVEL SPELLS
    h2 9TH-LEVEL SPELLS