extends ../layout

mixin inputControl(idn, label)
  input(type="text", name="#{idn}", id="#{idn}", class="form-control", value="", placeholder="#{label}")
     
block content
  h1.page-header Add Spell 
    small Add a new spell in the list.
  .container
    form(action="/spell/create", class="horizontal-form", method="post", accept-charset="utf-8")
      .row.form-group
        .col-lg-6.col-xs-12
          mixin inputControl("name", "Spell's name")
        .col-lg-6.col-xs-12
          mixin inputControl("school", "Spell's school name") 
      .row.form-group
        .col-lg-12.col-xs-12
          mixin inputControl("level", "Spell's level") 
      .row.form-group
        .col-lg-4.col-xs-12
          mixin inputControl("components", "Spell's components") 
        .col-lg-4.col-xs-12
          mixin inputControl("castingTime", "Spell's casting time") 
        .col-lg-4.col-xs-12
          mixin inputControl("range", "Spell's range") 
      .row.form-group
        .col-lg-4.col-xs-12
          mixin inputControl("target", "Spell's target") 
        .col-lg-4.col-xs-12
          mixin inputControl("effect", "Spell's effect") 
        .col-lg-4.col-xs-12
          mixin inputControl("area", "Spell's area") 
      .row.form-group
        .col-lg-4.col-xs-12
          mixin inputControl("duration", "Spell's duration")
        .col-lg-4.col-xs-12
          mixin inputControl("materialComponent", "Spell's material component")
        .col-lg-4.col-xs-12
          mixin inputControl("xpcost", "Spell's xp cost")     
      .row.form-group
        .col-lg-6.col-xs-12
          mixin inputControl("savingThrow", "Spell's saving throw")
        .col-lg-6.col-xs-12
          mixin inputControl("spellResistance", "Spell's spell resistance")         
      .row.form-group
        .col-lg-12.col-xs-12
          mixin inputControl("shortdescription", "Spell's short description")
      .row.form-group
        .col-lg-12.col-xs-12
          mixin inputControl("references", "Spell's book references")
      .row.form-group
        .col-lg-12.col-xs-12
          div( name="description", id="description")

      input(type="submit", class="btn btn-primary btn-lg btn-block", name="", id="", value="Create")

block script
  script(src="/javascripts/epiceditor.js")
  script
    $(document).ready(function () {
        var editor = new EpicEditor({ 
        container: 'description',
        theme: {
            base: '/themes/epiceditor.css',
            preview: '/themes/preview/preview-dark.css',
            editor: '/themes/editor/epic-dark.css'
        }, }).load();
    });