extends ../layout

mixin displayAttr(label, attr)
  if attr != ""
    div(class="display-label")
      b= label 
      = " " + attr

block append head
  link(rel='stylesheet', href='/stylesheets/spell.css')

block content
  div(class="container-center")

    h2= title
    div(class="display-field")= spell.school

    mixin displayAttr("Levels:", spell.level)
    mixin displayAttr("Components:", spell.components)
    mixin displayAttr("Casting Time:", spell.castingTime)
    mixin displayAttr("Range:", spell.range)
    mixin displayAttr("Target:", spell.target)
    mixin displayAttr("Effect:", spell.effect)
    mixin displayAttr("Area:", spell.area)
    mixin displayAttr("Duration:", spell.duration)
    mixin displayAttr("Saving Throw:", spell.savingThrow)
    mixin displayAttr("Spell Resistance:", spell.spellResistance)
    mixin displayAttr("Material Component:", spell.materialComponent)
    mixin displayAttr("XP Cost:", spell.xpcost)
    mixin displayAttr("Reference:", spell.references)

    div(class="description")!= spell.description